@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:wght@300&family=VT323&display=swap');
nav{  
    display: flex;
    justify-content: space-around;
    background-color: #B3920B;
  }
nav a{
    font-family: VT323, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 26px;
    text-align: center;
    color:  #38FFEE; 
    padding: 35px;
    background-color: #B3920B;
    width: 100%
}
h1 {
    font-family: VT323, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #38FFEE;
    text-align: center;
    font-size: 3em;
}
h2 {
  font-family: VT323, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #38FFEE;
  text-align: center;
  font-size: 1.5em;
  grid-row: 2/3;
}
body{
    background-color: #FF3CE7;
    font-family: Indie Flower, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#38FFEE;
    font-size: 2em;
    padding: 15%;
}
.image-section {
    display: grid;
    grid-template-columns: 10% 30% 20% 30% 10%;
    grid-template-rows: 500px;
    text-align: center;
}
footer {
    background-color: #B3920B;
    justify-content: space-around;
    font-family: VT323, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#FF3CE7;
    text-align: center;
    font-size: 3em;
}
#answer-card {
    grid-column: 2/3;
    box-sizing: border-box;
    border-radius: 5px;
    border-color: #B3920B; 
    color: #38FFEE;
    align-content: center; 
}
#games-card {
    grid-column: 4/5;
    box-sizing: border-box;
    border-radius: 5px;
    border-color: #B3920B; 
    color: #38FFEE;
}
.game-cards{
  display: grid;
  justify-content: center;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 250px, 100px, 800px;
  padding: 20px;
}
#mastermind-card{
  grid-column: 1/2;
  grid-row:1/2;
  font-size: 0.25;
}
#logic-card {
  grid-column: 2/3;
  grid-row:1/2;
  font-size: 0.25;
}
#kenken-card {
  grid-column: 3/4;
  grid-row:1/2;
  font-size: 0.25;
}
#ixl-card {
  grid-column: 5/6;
  grid-row:1/2;
  font-size: 0.25;
}
#khan_academy-card {
  grid-column: 4/5;
  grid-row:1/2;
  font-size: 0.25;
}
.game-description{
  font-size: 20px;
  grid-row: 3/4;
  border: #B3920B;
  border-width: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.tablinks {
  justify-content: center;
  padding-right:20%
}
.tab {
  overflow: hidden;
  border: 1px solid #38FFEE;
  background-color: #B3920B;
}
.tabcontent {
        display: grid;
        grid-template-columns: 34% 33% 33%;
        grid-template-rows: 500px;
}
#London, .image {
    grid-column: 1/2;
}
#London, .p {
    grid-column: 2/4;
}
#Paris, .image {
  grid-column: 1/2;
}
#Paris, .p {
  grid-column: 2/4;
}
#Tokyo, .image {
  grid-column: 1/2;
}
#Tokyo, .p {
  grid-column: 2/4;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #FF3CE7;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #38FFEE;
  border-top: none;
}
